<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="EmployeesService.ManageEmployees" behaviorConfiguration="SimpleServiceBehavior">

				
			</service>
		</services>
		<standardEndpoints />
		<bindings />
		<behaviors>
			<serviceBehaviors>
				<behavior name="SimpleServiceBehavior">
					<serviceMetadata httpGetEnabled="True" policyVersion="Policy15"/>
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>